.card-cotainer{
    background-color: rgba(43,43,93,.9);
    width: 100%;
    border-radius: 1rem;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    display: grid;
    grid-template-areas: 'top-card' 'bottom-card';
    grid-template-rows: 60% 40%;
    margin: auto;
    text-align: center;
    height: 7.5rem;
    cursor: pointer;
    user-select: none;
    transition: all .2 ease-in-out;
}